.formulario{
    display: flex;
    flex-wrap: nowrap;
    margin-left: 50px;
}

form{
    margin-top: 100px;
    margin-bottom: 100px;
}

.tudo{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-around;
}

.imagem{
    height: 350px;
    width: 301.224px;
    padding: 80px;
}

form label{
    font-size: 25px;
}

main{
    width: 100%;
    margin: 0 auto;
}

.inputpadrao{
    display: block;
    margin-bottom: 20px;
    padding: 10px;
    width: 70%;
    align-items: center;
}

.inputpadrao:invalid{
    outline-color: red;
}

.inputpadrao:valid{
    outline-color: green;
}

.enviar{
    width: 30%;
    padding: 20px 0;
    background-color: blueviolet;
    color: black;
    font-weight: bold;
    font-size: 20px;
    border-radius: 7px;
    transition: 1s all;
    cursor: pointer;
}

.enviar:hover{
    background-color: rgb(87, 29, 141);
    transform: scale(1.2);
}

@media only screen and (max-device-width: 768px){
    .imagem{
        height: 250px;
        width: 215.16px;
        padding: 50px;
    }

    form{
        margin-top: 150px;
        margin-bottom: 150px;
    }

    .inputpadrao{
        margin-bottom: 50px;
        padding: 20px;
        width: 80%;
        border: solid 3px black;
        font-size: 30px;
    }

    form label{
        font-size: 35px;
    }

    .enviar{
        width: 50%;
        padding: 30px 0;
        font-size: 30px;
    }

    
}